body
{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;

}

.start
{
    text-align: center;
}

.start button
{
    background-color: black;
    color: white;
    border-color: white;
    font-size: 2rem;
}

.start button:hover
{
    color:black;
    background-color: white;
    border-color: black;
}

.screen
{

}

.inactive
{
    display: none;
}

.active
{
    display: block;
}


.statbox
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 .5rem;
}

.tiles
{
    display: none;
}

canvas
{
    width: 100%;
}
.main
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.mobilecontrol
{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "up up"
        "left right"
        "down down";
}

.mobilecontrol button
{
    color:white;
    font-size: 1rem;
    text-align: center;
    justify-self: center;
    touch-action: none;
}

.up
{
    grid-area: up;
}
.left
{
    grid-area: left;
}
.right
{
    grid-area: right;
}
.down
{
    grid-area: down;
}





@media screen and (min-width: 640px)
{
    .statbox
    {
        flex-flow: column nowrap;
        justify-content: flex-start;
    }

    .main
    {
        flex-flow: row-reverse nowrap;
        justify-content: center;
    }
    canvas
    {
        width: 640px;
    }

}

@media (pointer: fine)
{
    
    .mobilecontrol
    {
        display:none;
    }

}


