body
{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;

}

.gamescreen
{
    padding: 5%;
    
    text-align: center;
}

.gamescreen p
{
    margin-bottom: 3rem;
}

.gamescreen img
{ 
    display: block;
    padding: 0;
    width: 8rem;
    margin: .5rem auto;
}

.gamescreen button
{
    display: block;
    padding: .5rem;
    background-color: black;
    color: white;
    border-color: white;
    font-size: 2rem;
    margin: .5rem auto;
}

.gamescreen button:hover
{
    color:black;
    background-color: white;
    border-color: black;
}

.inactive
{
    display: none;
}

.active
{
    display: block;
}


.statbox
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 .5rem;
}
.infobox
{
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: flex-end;

}

.infobox p
{
    display:none;
    font-size: .5rem;
}

.infobox p:last-child
{ 
    display: block;
    font-size: .6rem;
}


.tiles
{
    display: none;
}

canvas
{
    width: 100%;
}
.main
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.mobilecontrol
{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "up up"
        "left right"
        "down down";
}

.mobilecontrol button
{
    color:white;
    font-size: 1rem;
    text-align: center;
    justify-self: center;
    touch-action: none;
}

.up
{
    grid-area: up;
}
.left
{
    grid-area: left;
}
.right
{
    grid-area: right;
}
.down
{
    grid-area: down;
}





@media screen and (min-width: 640px)
{
    .main
    {
        display: grid;
        width: 90%;
        grid-template-columns: 640px auto;
        grid-template-rows: 100px 540px;
        margin: 1rem auto;
    }

    .statbox
    {
        text-align: center;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    
    .infobox p
    {
        margin: 0.5rem;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        display: block;
    }
    
    canvas
    {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        width: 640px;
        height: 640px;
    }

    .gamescreen button
    {
        display: initial;
        margin: .25rem;
    }

}

@media (pointer: fine)
{
    
    .mobilecontrol
    {
        display:none;
    }

}


